name: Download CS Game Files

on:
  schedule:
  - cron: "*/15 * * * *"

  workflow_dispatch:

jobs: 
    download:
      runs-on: ubuntu-latest
      
      permissions:
        # Give the default GITHUB_TOKEN write permission to commit and push the changed files back to the repository.
        contents: write
      
      steps:
        - uses: actions/checkout@master
        - uses: actions/setup-node@v3
        - name: Download new game files
          run: npm install && node index.js ${{ secrets.USERNAME }} ${{ secrets.PASSWORD }}
        - name: Read manifestId.txt
          id: manifestId
          uses: juliangruber/read-file-action@v1
          with:
            path: ./static/manifestId.txt
        - name: Commit & push changes
          uses: stefanzweifel/git-auto-commit-action@v4
          with:
            commit_message: "manifest ${{ steps.manifestId.outputs.content }}"
